{# base.html.twig #}
<html>
	<head>
		<meta charset="UTF-8">
		<title>Twig - {% block title %}{% endblock %}</title>
	</head>
	<body>
		<div id="menu">
			{% block menu %}{% endblock %}
		</div>
		<div id="main_content">
		{% block main_content %}{% endblock %}
	</div>
</body>
</html>