{# index.html.twig #}
Quentin Tarantino`s movies: <br>
<ul>
	{% for movie in movies %}
		<li>
			{{ movie.title }}
			{% if movie.comment is not null %}
				- <i>{{ movie.comment }}</i>
			{% endif %}
		</li>
	{% endfor %}
</ul>